<div
  class="p-3 h-auto absolute top-34 sm:top-46 translate-y-1/2s left-1/2 -translate-x-1/2 w-full max-w-xs transform bg-white rounded-md shadow-md sm:flex sm:justify-between sm:max-w-2xl sm:divide-x-2"
>
  <div class="text-center sm:text-left sm:w-1/4 p-2">
    <p class="text-gray-500 mb-2 text-xs font-bold uppercase">IP adress</p>
    <p id="ip-address-label" class="text-lg font-bold">---.---.---.---</p>
  </div>
  <div class="text-center sm:text-left wsm:-1/4 p-2">
    <p class="text-gray-500 mb-2 text-xs font-bold uppercase">Location</p>
    <p id="ip-location-label" class="text-lg font-bold">---,---</p>
  </div>
  <div class="text-center sm:text-left sm:w-1/4 p-2">
    <p class="text-gray-500 mb-2 text-xs font-bold uppercase">Timezone</p>
    <p id="ip-timezone-label" class="text-lg font-bold">--- ----</p>
  </div>
  <div class="text-center sm:text-left sm:w-1/4 p-2">
    <p class="text-gray-500 mb-2 text-xs font-bold uppercase">ISP</p>
    <p id="ip-isp-label" class="text-lg font-bold">---</p>
  </div>
</div>
