<div class="mt-4 mb-4 w-full max-w-96 flex justify-center">
  <button
    id="ip-collapse-info"
    class="bg-gray-500 text-gray-100 w-12 rounded-md rounded-r-none sm:hidden transition-colors hover:text-gray-50 hover:bg-gray-600 focus:outline-none"
  >
    =
  </button>
  <input
    id="ip-input"
    class="p-2 bg-gray-200 w-52 sm:rounded-md sm:rounded-r-none transition-colors focus:bg-gray-100 focus:outline-none"
    type="text"
    placeholder="Enter IPv4 address."
  />
  <button
    id="ip-btn"
    class="bg-gray-500 text-gray-100 w-12 rounded-md rounded-l-none transition-colors hover:text-gray-50 hover:bg-gray-600 focus:outline-none"
  >
    >
  </button>
</div>
